doctype html
html
  head
    title Results
    link(rel='stylesheet', href='/css/style.css')
    script(src="/js/loadMore.js")
  body
  a(onclick="loadMore(event)", style="position:fixed", href="#") load
  div(class="result-container", id="result-container")
    each torrent, i in torrents
      div(class="torrent-container")
        p(class="torrent-name")= torrent.name
        a(href=torrent.link, class="torrent-link") link
        i(class="torrent-date")= "upload date"+torrent.uploadDate
  
